:root {
  --background: #f6f6f6;
  --font: #222;
  --border: #333;
  --screen: #eee;
  --calculator: #aaa;
  --btn: #eee;
  --btn-hover: #ddd;
  --btn-active: #ccc;
  --btn-red: #faa;
  --btn-red-hover: #e99;
  --btn-red-active: #d88;
  --btn-blue: #aaf;
  --btn-blue-hover: #99e;
  --btn-blue-active: #88d;
}

* {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.calculator {
  margin-top: 100px;
  border: 2px solid var(--border);
  border-radius: 10px;
  width: 400px;
  height: 600px;
  padding: 20px;
  background-color: var(--calculator);
}

.display {
  margin-top: 10px;
  background-color: var(--screen);
  padding: 10px 20px;
  border: 2px solid var(--border);
  border-radius: 5px;
  margin-bottom: 20px;
  width: 310px;
  height: 25%;
  font-size: 30px;
  gap: 10px;
}

.buttons-grid {
  height: 100%;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
}

.span-2 {
  grid-column: span 2;
}

.btn {
  padding: 20px;
  border: 2px solid var(--border);
  background-color: var(--btn);
  border-radius: 5px;
  font-size: 24px;
  color: var(--font);
  width: 80px;
}

.btn:hover {
  background-color: var(--btn-hover);
}

.redBtn,
.blueBtn {
  width: 170px;
}

.redBtn {
  background-color: var(--btn-red);
}

.redBtn:hover {
  background-color: var(--btn-red-hover);
}

.blueBtn {
  background-color: var(--btn-blue);
}

.blueBtn:hover {
  background-color: var(--btn-blue-hover);
}
