* {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.calculator {
  margin-top: 100px;
  border: 2px solid black;
  border-radius: 10px;
  width: 400px;
  height: 600px;
  background-color: lightgray;
}

.display {
  background-color: white;
  margin-top: 20px;
  width: 90%;
  height: 30%;
  border: 2px solid black;
  border-radius: 5px;
  gap: 10px;
}

.buttons {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.buttons button {
  background-color: white;
  height: 50px;
  width: 170px;
  border-radius: 5px;
}

.numbers {
  height: 100%;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-template-rows: repeat(4, 2fr);
  justify-items: center;
  align-items: center;
  margin-bottom: 20px;
}

.numbers button {
  height: 60px;
  width: 80px;
  font-size: 24px;
  border-radius: 5px;
}
